@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 5% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 60 96% 51%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 0%;
    --input: 0 0% 89%;
    --ring: 221 83% 53%;
    --chart-1: 221 83% 53%;
    --chart-2: 60 96% 51%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 221 83% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 89%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 221 83% 53%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 60%;
    --accent: 60 96% 51%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 20%;
    --ring: 221 83% 53%;
    --chart-1: 221 83% 53%;
    --chart-2: 60 96% 51%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0rem;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 221 83% 53%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 221 83% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
